@import "src/index";

.activeMediaBoxContainer {
  width: 100%;
  @extend .flexColumn;
  margin: 0 20px 30px;

  .titleContainer {
    //@extend .flexRow;
    @extend .flexSpaceBetween;
    @extend .flexAlignCenter;
    margin-bottom: 10px;
    max-width: 1000px;

    .title {
      font-size: $size-bigger;
      letter-spacing: 2px;
      color: $color-bright-2;
      margin-bottom: 5px;
    }

    .date {
      color: $color-bright-2;
      font-size: $size-small;
      font-weight: $weight-light;
      margin-bottom: 5px;
    }
  }

  .bodyContainer {
    @extend .flexRow;

    .leftRow, .rightRow {
      @extend .flexColumn;
      @extend .flexAlignCenter;
    }

    .leftRow {
      padding-right: 30px;
      flex: 0.5;
      max-width: 500px;
      position: relative;

      .description {
        color: $color-bright-1;
        font-weight: $weight-regular;
        font-size: $size-small;

        .link {
          max-width: 250px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: inline-block;
          vertical-align: middle;
        }
      }

      .readMoreBtn {
        color: $color-bright-2;
        font-weight: $weight-bold;
        font-size: $size-smaller;
        cursor: pointer;
        text-transform: uppercase;
        padding: 0 0 10px 0;
        letter-spacing: 1px;
        outline: none;
        background: none;
        border: none;
        margin: 0 5px;

        &:after {

        }
      }
    }

    .rightRow {
      flex: 0.5;
      align-items: flex-start;
      margin-left: 30px;

      .rightRowContainer {
        @extend .flexColumn;
        margin-top: 10px;
      }

      .saveContainer, .verifyContainer {
        @extend .flexRow;
        justify-content: flex-end;
        align-self: flex-end;
        color: $color-bright-1;

        div {
          cursor: pointer;
        }

        .icon {
          font-size: 18px;
          margin-right: 5px;
          margin-top: -2px;
        }

        &:hover {
          color: $color-bright-2;
        }
      }

      .gamesContainer {
        min-height: 150px;
        margin-bottom: 10px;
        @extend .flexRow;
        flex-wrap: wrap;
        align-self: flex-start;

        .cardContainer {
          width: 112.5px;
          height: 150px;
          opacity: 1;
        }

        .emptyCard {
          background-color: $color-dark-1;

          .backImage {
            background-color: $color-dark-1;
          }
        }

        .hoveredInfo {
          @extend .flexCenter;

          .title {
            font-size: $size-smaller;
            margin: 0;
          }
        }
      }

      .noGame {
        color: $color-bright-2;
        font-size: $size-smaller;
        font-weight: $weight-light;
        letter-spacing: 1px;
        align-self: center;
      }

      .inputWithSuggestionsContainer {
        align-self: flex-start;
      }
    }
  }

}

@media #{$media-tablet} {
  .activeMediaBoxContainer {
    margin: 0;
    padding: 0 20px 30px 20px;
    box-sizing: border-box;

    .titleContainer {
      margin-bottom: 20px;
    }

    .bodyContainer {
      flex-direction: column-reverse;

      .rightRow {
        margin-left: 0;

        .rightRowContainer {
          min-height: 0;
        }

        .noGame {
          display: none;
        }

      }

      .leftRow {
        margin-top: 20px;
      }
    }
  }
}