@import "../../index";

.adminMediaRowContainer {

  width: 1300px;

  .title {
    @extend .flexRow;
    @extend .flexAlignCenter;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: $color-bright-2;

    .imageContainer {
      height: 50px;
      width: 50px;
      margin: 25px 10px 25px;
    }
  }

}