@import "../../index";

.videoContainer {
  width: calc(100%);
  height: calc(100vh - 100px);

  iframe {
    width: calc(100%);
    height: calc(100vh - 150px);
  }
}

@media #{$media-tablet} {
  .videoContainer {
    width: calc(100vw - 40px);
    height: calc((100vw - 40px) * 0.61);

    iframe {
      width: calc(100vw - 40px);
      height: calc((100vw - 40px) * 0.61);
    }
  }
}