@import "../../index";

.headerContainer {
  width: 100%;
  background-color: $color-dark-1;
  color: white;
  box-sizing: border-box;
  @extend .flexRow;
  @extend .flexCenter;
  padding: 0 30px;
  position: relative;
  z-index: 3;
  height: 56px;

  .headerWrapper {
    @extend .flexRow;
    @extend .flexAlignCenter;
    @extend .flexSpaceBetween;
    max-width: 1250px;
    width: 100%;
  }


  .titleContainer {
    transform: scale(0.40);
  }

  .navMenuContainer {
    @extend .flexRow;

    //.navMenuItem {
    //  width: 100px;
    //  color: $color-bright-1;
    //  font-size: $size-small;
    //  text-transform: uppercase;
    //  text-align: center;
    //  margin: 0 10px;
    //
    //  &.active {
    //    color: $color-bright-2;
    //    font-weight: $weight-regular;
    //  }
    //}
  }
}

/* Effect 4: bottom border enlarge */
.navMenuItem {
  position: relative;
  color: $color-bright-1;
  width: 100px;
  text-align: center;
}

.navMenuItem::after {
  position: absolute;
  //top: 100%;
  left: 0;
  bottom: -22px;
  width: 100%;
  height: 3px;
  background: $color-bright-1;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.1s, opacity 0.1s, -webkit-transform 0.1s;
  -moz-transition: height 0.1s, opacity 0.1s, -moz-transform 0.1s;
  transition: height 0.1s, opacity 0.1s, transform 0.1s;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px);
}

.navMenuItem.active {
  color: $color-bright-2;
}

.navMenuItem:hover::after,
.navMenuItem:focus::after,
.navMenuItem.active::after{
  opacity: 1;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
}

.navMenuItem.active::after{
  background: $color-bright-2;
}

.mobileSearch {
  display: none;
  color: $color-bright-1;

  .backButton {
    padding: 15px 0;
    position: relative;
    @extend .flexRow;
    @extend .flexAlignCenter;
    @extend .flexCenter;

    svg {
      position: absolute;
      left: 15px;
    }

    span {
      text-transform: uppercase;
      font-weight: $weight-regular;
    }
  }

  .searchWithPreviewContainer {
    position: relative !important;
  }

  .sidebarButton {
    @extend .flexColumn;
    @extend .flexCenter;
    @extend .flexAlignCenter;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    height: 50px;
    padding: 0 15px;
  }

  .searchResultsContainer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    border-bottom: none;
    box-shadow: none;
  }
}


.searchResultsContainer {
  position: absolute;
  padding: 0 30px;
  z-index: 22;
  @extend .flexColumn;
  background-color: $color-dark-2;
  border-radius: 10px;
  box-shadow: 3px 3px 0 0 #FFC857;
  width: 600px;
  right: 20px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;

  ul {
    list-style-type: none;
    padding: 0;

    li {
      .itemContainer {
        padding: 10px 20px;
        @extend .flexRow;
      }

      &.allResults {
        color: $color-bright-1;
        padding: 10px 20px;
        @extend .flexColumn;
        @extend .flexCenter;
        font-size: $size-small;
        cursor: pointer;

        .gameTitle {
          text-transform: none;
        }
      }

      .imageContainer {
        height: 60px;
        width: 45px;
        margin-right: 20px;
        color: $color-dark-1;

        img {
          height: 60px;
          opacity: 0.9;
        }
      }


      .gameInfos {
        @extend .flexColumn;
        @extend .flexCenter;
      }

      &.active {
        color: $color-bright-2;

        img {
          opacity: 1;
        }

        .gameTitle {
          color: $color-bright-2;
        }

        .gameDate {
          color: rgba($color-bright-2, 0.8);
        }
      }

      .gameTitle {
        text-transform: uppercase;
        font-size: $size-normal;
        font-weight: $weight-regular;
        color: $color-bright-1;
      }

      .gameDate {
        color: rgba($color-bright-1, 0.8);
        font-size: $size-small;
      }
    }
  }
}

.searchWithPreviewContainer {

  &.mobile {
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: $color-dark-2;

    .inputContainer {
      .input {
        width: 100%;
      }
    }
  }
}

@media #{$media-phone} {
  &.notHomeHeader {
    height: 50px;

    .titleContainer {
      width: 100px;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      left: auto;
      top: auto;
    }

    .desktopSearch {
      display: none;
    }
  }


  .mobileSearch {
    display: block;
  }

}