@import "../../index";

.headerContainer {
  width: 100%;
  background-color: $color-dark-1;
  color: white;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  padding: 30px;
  @extend .flexRow;
  @extend .flexCenter;

  .titleContainer {
    @extend .flexColumn;
    @extend .flexAlignCenter;
    @extend .logoFont;
    height: 100%;
    color: $color-bright-2;
    font-size: 35px;

    .logo {
      height: 100%;
      padding-bottom: 10px;
    }
  }

  &.smallHeader {
    padding: 0 30px;

    .titleContainer {
      font-size: $size-big;
      height: 50px;
      @extend .flexRow;
      @extend .flexCenter;
      padding-right: 35px;

      .logo {
        transform: scale(0.45);
        margin-top: -23px;
        padding: 0;
      }

    }

  }
}