@import "../../index";

.gamePageContainer {
  width: 100%;

  .gameHeader {
    background-color: $color-dark-2;
    width: 100%;
    height: 400px;
    position: relative;
    @extend .flexColumn;
    @extend .flexAlignCenter;
    @extend .flexCenter;

    .headerContent {
      position: relative;
      z-index: 2;
      max-width: 1300px;
      width: 100%;
      @extend .flexRow;
      @extend .flexAlignCenter;

      .coverImg {
        width: 200px;
        margin-right: 50px;
        box-shadow: 10px 10px 0 2px $color-bright-2;
      }

      .gameInfos {
        color: $color-bright-2;

        .gameTitle {
          text-transform: uppercase;
          //letter-spacing: 1px;
          font-size: $size-biggest;
          margin: 10px;
          font-weight: $weight-regular;
        }

        .gameDate {
          margin: 10px;
        }
      }
    }

    .backImage {
      width: 100%;
      height: 100%;
      filter: blur(2px);
      object-fit: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.6;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .gameContentWrapper {
    position: relative;
    z-index: 2;
    background-color: $color-dark-1;

    .gameContent {
      width: 100%;

      .mediaRowContainer {
        padding-top: 20px;
        width: 100%;
        padding-bottom: 20px;
        @extend .flexColumn;
        @extend .flexAlignCenter;
        transition: background-color 0.3s ease-in-out, max-height 0.3s ease-in-out;
        overflow: hidden;

        .activeMediaContainer {
          opacity: 0;
          transition: all 0.2s ease-in-out 0.2s;
        }

        &.mediaRowContainerActive {
          background-color: $color-dark-2;

          .activeMediaContainer {
            opacity: 1;
          }
        }
      }

      .mediaRowWrapper  {
        @extend .flexColumn;
        max-width: 1300px;
        width: 100%;
      }

      .title {
        @extend .flexRow;
        @extend .flexAlignCenter;
        text-transform: lowercase;
        letter-spacing: 1px;
        color: $color-bright-1;
        margin: 0 10px 5px;

        .imageContainer {
          height: 30px;
          width: 30px;
          margin-right: 10px;
        }
      }

    }
  }
}

@media #{$media-phone} {
  .gamePageContainer {
    .gameHeader {
      .headerContent {
        flex-direction: column;

        .coverImg {
          margin-bottom: 20px;
          margin-right:0;
        }
        .gameInfos {
          text-align: center;
          .gameTitle {
            font-size: $size-bigger;
          }
        }
      }
    }
  }
}