@import "../../index";
@import "src/components/adminMedia/adminMediaSection.module";

.gamePageContainer {
  width: 100%;

  .gameHeader {
    background-color: $color-dark-2;
    width: 100%;
    height: 400px;
    position: relative;
    @extend .flexColumn;
    @extend .flexAlignCenter;
    @extend .flexCenter;

    .headerContent {
      position: relative;
      z-index: 2;
      max-width: 1300px;
      width: 100%;
      @extend .flexRow;
      @extend .flexAlignCenter;

      .coverImg {
        width: 200px;
        margin-right: 50px;
        margin-left: 50px;
        box-shadow: 10px 10px 0 2px $color-bright-2;
      }

      .gameInfos {
        color: $color-bright-2;

        .gameTitle {
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: $size-biggest;
          margin: 10px;
          font-weight: $weight-regular;
        }

        .gameDate {
          margin: 10px;
        }
      }
    }

    .backImage {
      width: 100%;
      height: 100%;
      filter: blur(2px);
      object-fit: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.6;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .gameContentWrapper {
    position: relative;
    z-index: 2;
    background-color: $color-dark-1;

  }
}

@media #{$media-phone} {
  .gamePageContainer {
    .gameHeader {
      height: 340px;
      .headerContent {
        flex-direction: column;

        .coverImg {
          margin-bottom: 20px;
          margin-right:0;
          margin-left: 0;
          width: 150px;
          height: 200px;
        }
        .gameInfos {
          text-align: center;
          .gameTitle {
            font-size: $size-bigger;
          }
        }
      }
    }
  }
}