@import "../../index";

.formContainer {

  border: 1px solid $color-bright-2;
  padding: 30px 80px;

  button {
    margin: 20px 15px;
  }
}

.sectionGridContainer {
  width: 100%;
  box-sizing: border-box;
  max-width: 1500px;

  .sectionTitle {
    text-transform: lowercase;
    color: $color-bright-2;
    font-size: $size-bigger;
    font-weight: $weight-regular;
    margin: 10px;
  }

  .sectionGrid {
    @extend .flexRow;
    flex: 1;

    .cardContainer {
      width: 150px;
      height: 150px;

      .hoveredInfo {
        justify-content: space-evenly;

        .title {
          margin: 0;
        }
      }
    }

  }

}

.adminPageContainer {
  width: 100%;
}

@media #{$media-phone} {
  .formContainer {
    padding: 0;
    border: none;

    .btn {
      width: 200px;
    }

    label {
      width: 200px;

      input {
        width: 200px;
      }
    }
  }
}