@import "../../index";

.mediaPageContainer {
  margin: 30px 0;
  width: 100%;
  @extend .flexColumn;
  @extend .flexAlignCenter;

  .mediaTitleContainer {
    @extend .flexColumn;
    @extend .flexAlignCenter;
    color: $color-bright-2;
    margin-top: 20px;
    margin-bottom: 40px;

    .mediaLogo {
      height: 200px;
      width: 200px;
      background-color: $color-dark-1;
      box-shadow: 10px 10px 0 2px $color-bright-2;

      margin-bottom: 30px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .mediaName {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 36px;
      font-weight: normal;
      margin-bottom: 5px;
    }

    .epNumber {
      font-size: $size-normal;
    }
  }

  .subscribeBtn {
    display: flex;
    margin: 15px;

    .mobile {
      display: none;
    }
  }

  .mediaRowContainer {
    @extend .flexColumn;
  }

  .gamesContainer {
    @extend .flexColumn;

    .gamesGridTitleContainer {
      @extend .flexRow;
      @extend .flexAlignCenter;
      letter-spacing: 1px;
      color: $color-bright-1;
      margin: 0 10px 5px;

      .gamesGridTitleImg {
        margin-right: 10px;
        border-radius: 50%;
        background-color: $color-dark-2;
        color: $color-bright-2;
        font-size: 20px;
        padding: 5px;
      }

      .gameGridTitleText {
      }
    }

    .gamesGrid {
      align-self: center;
    }
  }

}

@media #{$media-phone} {
  .mediaPageContainer {
    .subscribeBtn {
      .mobile {
        display: unset;
      }

      .desktop {
        display: none;
      }
    }
  }
}